*{
    padding: 0;
    margin: 0;
}
input,button,select,textarea{outline:none}
.navbar-center .active{
    position: relative;
}
.navbar-center .active:after{
    content: "";
    position: absolute;
    top: 22px;
    left: 7px;
    width: 0;
    border: 10px solid white;
    border-top-color:transparent ;/*设置下边框的颜色为透明色,当然也设置为白色,因为背景颜色为白色*/
    border-left-color: transparent;
    border-right-color: transparent;
}
body{
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #eee;
    font-family: "宋体","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#head-portrait:hover,
#main-change-head:hover{
    cursor: pointer;
}
#main-personal-information{
    cursor: pointer;
}
#signin-page{
    display: none;
}
.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.h2,h2{
    font-size: 30px;
    font-weight: 500;
}
.form-signin .form-signin-heading,
.form-signin .checkbox{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
    position: relative;
    height: 24px;
    margin-bottom: 10px;
}
.form-signin .checkbox p{
    display: inline;
    position:absolute;
    right:0;
}
.form-signin .checkbox a{
    color: blue;
    cursor: pointer;
}
.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.form-signin .form-control{
    width: 100%;
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
  }
.form-signin input[type="username"] {
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
.btn-submit{
    display: block;
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    text-align: center;
    cursor: pointer;
    border-width: 0;
}
.btn-submit:hover{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
#chat-page{
    display:none;
}
.container{
    margin: 0 auto;
    width: 800px;
    height: 600px;
    border-radius: 5px;
    background-color: aliceblue;
}
.tim-top{
    background-image: url("../image/tim.png");
    height: 55px;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.tim-top .navbar-left{
    position:absolute;
    margin-top: 5px;
    margin-left: 10px;
}
.tim-top .navbar-left img{
    border-radius: 50%;
}
.tim-top .navbar-center{
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%,-50%);
}
.tim-top .navbar-center li{
    display: inline;
}
.tim-top .navbar-center li a{
    color: white;
    font-size: 1.2em;
}
.tim-top .navbar-right{
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
}
.tim-top .navbar-right li{
    display: inline;
    margin-left: 2px;
}
.tim-top .navbar-right li span{
    color: rgb(200, 200, 200);
    font-size: 1.1em;
    cursor: pointer;
}
.tim-main{
    display: flex;
    height: 545px;
}
.tim-main .sidebar{
    width: 200px;
    background-color: rgb(228, 237, 246);
}
.list-group{
    padding-top: 10px;
    height: 535px;
    overflow: auto;
}
.list-group .list-group-item{
    height: 60px;
    position: relative;
}
.list-group-item.active,.list-group-item:hover{
    background-color: rgb(222, 230, 236);
}
.list-group-item img{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
}
.list-group-item h4{
    position: absolute;
    left: 57px;
    height: 30px;
    line-height: 30px;
}
.list-group-item p{
    position: absolute;
    left: 57px;
    bottom: 0px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 0.8em;
}
.tim-main .pop-up-bar{
    z-index: 20;
    position: absolute;
    background-color: white;
    width: 170px;
    height: 180px;
    display: none;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.tim-main .pop-up-bar .list-group-item{
    height: 30px;
    line-height: 30px;
}
.tim-main .pop-up-bar .list-group-item h4,
.tim-main .pop-up-bar .list-group-item p{
    position: static;
    line-height: 25px;
}
.tim-main .pop-up-bar .list-group-item h4{
    line-height: 25px;
}
.tim-main .pop-up-bar .list-group-item p{
    line-height: 14px;
    height: 15px;
    border-bottom: 1px solid rgb(104, 104, 104);
    padding-bottom: 5px;
}
.tim-main .pop-up-bar .list-group-item a{
    color: black;
}
.tim-main .pop-up-bar .list-group-item:nth-child(1){
    height: 50px;
}
.tim-main .pop-up-bar .list-group-item:nth-child(2){
    border-bottom: 1px solid rgb(104, 104, 104);
}
.tim-main .main{
    width: 600px;
    padding-left: 10px;
}
.main .main-title{
    height: 39px;
    border-bottom: 1px solid rgb(195, 195, 195);
}
.main .main-title h4{
    line-height: 39px;
}
.main .main-content{
    height: 345px;
}
.main-content p{
    /*自动换行*/
    word-break:break-word;
}
.other div{
    color: blue;
    font-size: 0.9em;
}
.mime div{
    color: green;
    font-size: 0.9em;
}
.main .main-bar{
    padding-top: 8px;
    height: 31px;   
    border-top: 1px solid rgb(195, 195, 195);
}
.main .main-bar li{
    display: inline;
}
.main .main-bar li span{
    font-size: 25px;
    color: rgb(102, 102, 102);
    margin-left: 10px;
}
.main .main-input{
    height: 80px;
}
.main .main-input textarea{
    border: none;
    background-color: aliceblue;
    width: 592.5px;
    height: 80px;
    resize: none;
    overflow-x: hidden;
}
.main .main-control{
    height: 40px;  
    position: relative; 
}
.main .main-control button{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(0, 183, 255);
    height: 25px;
    width: 80px;
    border-radius: 3px;
    border-width: 0;
}
.main .main-control button:hover{
    background-color: rgba(0, 183, 255, 0.7);
}
#content{
    overflow: auto;
    overflow-x: hidden;
}

/*
 *
 *联系人页面样式
 */
#friends-sidebar{
    height: 545px;
    font-family: 'Courier New', Courier, monospace;
}
#friends-sidebar > div:nth-child(1){
    height: 40px;
    border-bottom: 1px solid rgb(179, 179, 179);
    position: relative;
    font-weight: bold;
    font-size:0.9em;
}
#friends-sidebar > div:nth-child(1) > a:nth-child(1){
    position: absolute;
    height: 25px;
    padding: 0 3px;
    top: 13px ;
    left: 45px;
    cursor: pointer;
}
#friends-sidebar > div:nth-child(1) > a:nth-child(2){
    position: absolute;
    height: 25px;
    padding: 0 3px;
    top: 13px ;
    right: 55px;
    cursor: pointer;
}
#friends-sidebar > div:nth-child(1) > a:hover{
    border-bottom: 3px solid rgb(69, 130, 187);
}
#friends-sidebar > div:nth-child(1) > a.active{
    border-bottom: 3px solid rgb(69, 130, 187);
}
#friends-sidebar > div:nth-child(2),
#friends-sidebar > div:nth-child(3){
    height: 504px;
    padding-top: 10px;
    position: relative;
}
#friends-sidebar > div:nth-child(2) > p,
#friends-sidebar > div:nth-child(3) > p{
    font-family: "微软雅黑";
    font-weight: bold;
    font-size: 0.8em;
    cursor: default;
    height: 20px;
    padding-left: 10px;
}
#friends-sidebar > div:nth-child(2) > p:before,
#friends-sidebar > div:nth-child(3) > p:before{
    display: inline-block;
    content: "";
    width: 0;
    border: 5px solid rgb(128, 128, 128);
    border-top-color:transparent ;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
#friends-sidebar > div:nth-child(2) > p.active:before,
#friends-sidebar > div:nth-child(3) > p.active:before{
    position: relative;
    top: 2px;
    left: -2px;
    border-left-color:transparent ;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: rgb(128, 128, 128);
}
#friends-sidebar > div:nth-child(2) > .list-group,
#friends-sidebar > div:nth-child(3) > .list-group{
    padding-top: 0;
    height: 474px;
}
.icon-plus-circle{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    color: #337ab7;
    font-size: 2.5em;
}
.icon-plus-circle:hover{
    color: #0a589c
}